<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/menu.css" />
    
</head>
<%- include("../common/header.ejs") %>
<body>
    <a href="/menu/pizza">Pizzas</a> <a href="/menu/burger">Burgers</a> <a href="/menu/kids">Kids Menu</a>
    <div id="menuAndCartWrapper">
        <div id="orderCart">
            <h3 id="orderCartTitle">Cart</h6>
                <hr>
            <h4>Pizzas:</h4>
            <% for(let i = 0; i < orderCart.length; i++){ %>
                <% if(orderCart[i].pizzaSize !== undefined){ %>
                    <p><%= orderCart[i].quantity %>x<%= orderCart[i].menuItemName %> - Size: <%= orderCart[i].pizzaSize %></p>
                    <p>
                    <% orderCart[i].ingredientsList.forEach(element => { %>
                        - <%= element.ingredient%> x<%= element.amount%>
                        <br>
                    <% }) %>
                    </p>
                    <p>Price Pr Pizza: <%= orderCart[i].pricePrPizza%>Kr</p>
                    <% if(orderCart[i].quantity > 1){ %>
                        <p>Price Total for these pizzas <%= orderCart[i].pricePrPizza * orderCart[i].quantity %>Kr</p>
                    <% } %>
                    <form action="/menu/removeFromCart/<%=i%>" method="post">
                        <button type="submit">remove item from cart</button>
                    </form>
                    <br>
                <% } %>
            <% } %>
            <hr>
            <h4>Burgers:</h4>
            <% for(let i = 0; i < orderCart.length; i++){ %>
                <% if(orderCart[i].pizzaSize === undefined){ %>
                    <p><%= orderCart[i].menuItemNumber %>. <%= orderCart[i].menuItemName %> -  Quantity: <%= orderCart[i].quantity %> Stk.</p>
                    <% orderCart[i].ingredientsList.forEach(element => { %>
                        <p>- <%= element.ingredient%> x<%= element.amount%></p>
                    <% }) %>
                    <p>Price Pr Burger: <%= orderCart[i].pricePrBurger%>Kr</p>
                    <form action="/menu/removeFromCart/<%=i%>" method="post">
                        <button type="submit">remove item from cart</button>
                    </form>
                <% } %>
            <% } %>
            <hr>
            <form action="/placeOrder" method="post">
           
            <br>
            <input type="number" readonly id="orderPriceTotal" name="orderPriceTotal" value="<%=orderPriceTotal%>"><label for="">Order Total Price</label>
            <br>
            <button type="submit">Place Order</button>
            </form>
        </div>


        <% let minNumberOfSameIngredient = 0 %>
        <% let maxNumberOfSameIngredient = 3 %>

        <% menu.forEach(menuItem => { %>
            
            <div class="menuItemWrapper">   
                <div class="menuItem">
                    <div class="menuItemLeftSideWrapper">
                        <div class="menuItemTitleWrapper">
                            <h4 class="menuItemTitle"><%= menuItem.menuItemNumber %>. <%= menuItem.menuItemName %> </h4>
                        </div>
                        <div class="ingredientListWrapper">
                            <div class="ingredientList">
                                <p><%= menuItem.menuItemDescription %></p>
                                <% if(menuItem.comment !== undefined){ %>
                                    <p><%= menuItem.comment %></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="menuItemRightSideWrapper">
                        
                        <div class="sizeAndPricesWrapper">
                            <% if(menuItem.menuItemCategory === "pizza" && menuItem.isKidsMenuItem === false) { %>
                                <div class="sizeIndecatorsWrapperNormalPizza">
                                    <div class="sizeIndecatorsContentWrapper">
                                        <p class="sizeIndecators">9"</p>
                                    </div>
                                    <div class="sizeIndecatorsContentWrapper">
                                        <p class="sizeIndecators">12"</p>
                                    </div>
                                    <div class="sizeIndecatorsContentWrapper">
                                        <p class="sizeIndecators">16"</p>
                                    </div>
                                    
                                </div>
                                <div class="pricesWrapperNormalPizzas">
                                    <div class="pricesContentWrapper">
                                        <p class="pricelabel"><%= menuItem.price[0].small %>Kr. </p>
                                    </div>
                                    <div class="pricesContentWrapper">
                                        <p class="pricelabel"><%= menuItem.price[0].medium %>Kr. </p>
                                    </div>
                                    <div class="pricesContentWrapper">
                                        <p class="pricelabel"><%= menuItem.price[0].large %>Kr. </p>
                                    </div>
                                </div>
                            <% } %>


                            <% if(menuItem.menuItemCategory === "pizza" && menuItem.isKidsMenuItem === true) { %>
                                <div class="sizeIndecatorsWrapperNormalPizza">
                                    <div class="sizeIndecatorsContentWrapper">
                                        <p class="sizeIndecators">9"</p>
                                    </div>
                                </div>
                                <div class="pricesWrapperNormalPizzas">
                                    <div class="pricesContentWrapper">
                                        <p class="pricelabel"><%= menuItem.price[0].small %>Kr. </p>
                                    </div>
                                </div>
                            <% } %>

                            <% if(menuItem.menuItemCategory === "burger"){ %>
                                <div class="burgerRedBarFiller">
                                    <div class="pricesWrapperBurger">
                                        <div class="pricesContentWrapperBurger">
                                            <p class="pricelabelBurger"><%= menuItem.price[0].price %>Kr. </p>
                                        </div>
                                    </div>
                                </div>
                                
                            <% } %> 
                             
                            
                        </div>
                        <div class="buttonAndImageWrapper">
                            <div class="spanWrapper">
                                <button class="OpenCloseToggleButton" id="openAndCloseFormDivMenuItem<%= menuItem.menuItemNumber %>" onclick="revealOrHideFormDiv('<%=menuItem.menuItemNumber%>')"> 
                                    +
                                </button> 
                            </div>
                            <img src="../../images/placeholderImage.png" class="menuItemImage">
                           
                        </div>
                        
                    </div>
                </div>
                <div class="addMenuItemToCartWrapper" id="addMenuItemToCartWrapper<%= menuItem.menuItemNumber %>" hidden="hidden">
                    <form action="/menu/<%= menuItem.menuItemCategory%>/addItemToCart" method="post">
                        <% if(menuItem.menuItemCategory === "pizza" && menuItem.isKidsMenuItem === false){ %>
                            <hr>
                            <p>Choose pizza size</p>
                            <hr>
                            
                            <input onclick="decidePriceBySize(`priceSmall.<%=menuItem.menuItemName%>`)" type="radio" id="small" name="pizzaSize" required value='9"'>
                            <label for="small">Small / 9"</label> <br>
                            <input type="hidden" id="priceSmall.<%=menuItem.menuItemName%>" value="<%=menuItem.price[0].small%>" readonly>
                            <input onclick="decidePriceBySize(`priceMedium.<%=menuItem.menuItemName%>`)" type="radio" id="medium" name="pizzaSize" value='12"'>
                            <label for="small">Medium / 12"</label><br>
                            <input type="hidden" id="priceMedium.<%=menuItem.menuItemName%>" value="<%=menuItem.price[0].medium%>" readonly>
                            <input onclick="decidePriceBySize(`priceLarge.<%=menuItem.menuItemName%>`)" type="radio" id="large" name="pizzaSize" value='16"'>
                            <label for="small">Large / 16"</label><br>
                            <input type="hidden" id="priceLarge.<%=menuItem.menuItemName%>" value="<%=menuItem.price[0].large%>" readonly>
                            
                            <div class="toppingsTitleWrapper">
                                <hr>
                                <h3 class="toppingsTitle">Toppings</h3>
                                <hr>
                            </div>

                            <p class="topicsCategoryTitle">Sauces</p>
                            
                            <span class="minus" onclick="removeIngredient(`tomatoSauceCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="tomatoSauceCounter" id="tomatoSauceCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.tomatoSauce %>" readonly/>
                            <span class="plus" onclick="addIngredient(`tomatoSauceCounter.<%=menuItem.menuItemName%>`)">+</span>  
                            <label for="">Tomato Sauce</label>
                            <br>

                            <span class="minus" onclick="removeIngredient(`bbqSauceCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="bbqSauceCounter" id="bbqSauceCounter.<%=menuItem.menuItemName%>"class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.BBQSauce %>" readonly/>
                            <span class="plus" onclick="addIngredient(`bbqSauceCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">BBQ Sauce</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`tabascoCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="tabascoCounter" id="tabascoCounter.<%=menuItem.menuItemName%>"class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.tabasco %>" readonly/>
                            <span class="plus" onclick="addIngredient(`tabascoCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Tabasco</label>
                            <br>

                            <p class="topicsCategoryTitle">Cheese</p>

                            <span class="minus" onclick="removeIngredient(`cheeseCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="cheeseCounter" id="cheeseCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.cheese %>" readonly/>
                            <span class="plus" onclick="addIngredient(`cheeseCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Cheese</label>
                            <br>

                            <p class="topicsCategoryTitle">Eggs</p>

                            <span class="minus" onclick="removeIngredient(`eggCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="eggCounter" id="eggCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.egg %>" readonly/>
                            <span class="plus" onclick="addIngredient(`eggCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Egg</label>
                            <br>
                        
                            <p class="topicsCategoryTitle">Meats</p>

                            <span class="minus" onclick="removeIngredient(`beefCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="beefCounter" id="beefCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.beef %>" readonly/>
                            <span class="plus" onclick="addIngredient(`beefCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Beef</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`hamCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="hamCounter" id="hamCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.ham %>" readonly/>
                            <span class="plus" onclick="addIngredient(`hamCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Ham</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`pepperoniCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="pepperoniCounter" id="pepperoniCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.pepperoni %>" readonly/>
                            <span class="plus" onclick="addIngredient(`pepperoniCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Pepperoni</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`chickenCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="chickenCounter" id="chickenCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.chicken %>" readonly/>
                            <span class="plus" onclick="addIngredient(`chickenCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Chicken</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`baconCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="baconCounter" id="baconCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.bacon %>" readonly/>
                            <span class="plus" onclick="addIngredient(`baconCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Bacon</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`shrimpCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="shrimpCounter" id="shrimpCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.shrimp %>" readonly/>
                            <span class="plus" onclick="addIngredient(`shrimpCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Shrimp</label>
                            <br>
                        
                            <p class="topicsCategoryTitle">Vegetables</p>

                            <span class="minus" onclick="removeIngredient(`mushroomsCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="mushroomsCounter" id="mushroomsCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.mushrooms %>" readonly/>
                            <span class="plus" onclick="addIngredient(`mushroomsCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Mushrooms</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`onionsCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="onionsCounter" id="onionsCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.onions %>" readonly/>
                            <span class="plus" onclick="addIngredient(`onionsCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Onions</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`bellPeppersCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="bellPeppersCounter" id="bellPeppersCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.bellPeppers %>" readonly/>
                            <span class="plus" onclick="addIngredient(`bellPeppersCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Bell Peppers</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`pineappleCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="pineappleCounter" id="pineappleCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.pineapple %>" readonly/>
                            <span class="plus" onclick="addIngredient(`pineappleCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Pineapple</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`maizeCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number"  name="maizeCounter" id="maizeCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.maize %>" readonly/>
                            <span class="plus" onclick="addIngredient(`maizeCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Maize/Corn</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`jalapenosCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="jalapenosCounter" id="jalapenosCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.jalapeños %>" readonly/>
                            <span class="plus" onclick="addIngredient(`jalapenosCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Jalapeños</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`tomatoesCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="tomatoesCounter" id="tomatoesCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.tomato %>" readonly/>
                            <span class="plus" onclick="addIngredient(`tomatoesCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Tomato</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`bananaCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="bananaCounter" id="bananaCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.banana %>" readonly/>
                            <span class="plus" onclick="addIngredient(`bananaCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Banana</label>
                            <br>

                            <span class="minus" onclick="removeIngredient(`oliveCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="oliveCounter" id="oliveCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.olives %>" readonly/>
                            <span class="plus" onclick="addIngredient(`oliveCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Olives</label>
                            <br>
                        
                            <p class="topicsCategoryTitle">Spices</p>
                            
                            <span class="minus" onclick="removeIngredient(`garlicPowderCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="garlicPowderCounter" id="garlicPowderCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.garlicPowder %>" readonly/>
                            <span class="plus" onclick="addIngredient(`garlicPowderCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Garlic Powder</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`garlicOilCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="garlicOilCounter" id="garlicOilCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.garlicOil %>" readonly/>
                            <span class="plus" onclick="addIngredient(`garlicOilCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Garlic Oil</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`chiliFlakesCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="chiliFlakesCounter" id="chiliFlakesCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.chiliFlakes %>" readonly/>
                            <span class="plus" onclick="addIngredient(`chiliFlakesCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Chili Flakes</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`cayennePepperCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="cayennePepperCounter" id="cayennePepperCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.cayennePepper %>" readonly/>
                            <span class="plus" onclick="addIngredient(`cayennePepperCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Cayenne Pepper</label>
                            <br>
                            
                            <span class="minus" onclick="removeIngredient(`blackPepperCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="blackPepperCounter" id="blackPepperCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.blackPepper %>" readonly/>
                            <span class="plus" onclick="addIngredient(`blackPepperCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Black Pepper</label>
                            <br>

                            <span class="minus" onclick="removeIngredient(`oreganoCounter.<%=menuItem.menuItemName%>`)">-</span>
                            <input type="number" name="oreganoCounter" id="oreganoCounter.<%=menuItem.menuItemName%>" class="ingredientInput" min="<%= minNumberOfSameIngredient%>" max="<%= maxNumberOfSameIngredient%>" value="<%= menuItem.menuItemIngredients.oregano %>" readonly/>
                            <span class="plus" onclick="addIngredient(`oreganoCounter.<%=menuItem.menuItemName%>`)">+</span>
                            <label for="">Oregano</label>
                            <br>

                            <br>
                            <br>
                            <input type="number" readonly name="pricePrItem" id="price.<%=menuItem.menuItemName%>" value="0"> <label>Price Pr. Pizza</label> 
                        <% } %>
                            <input type="hidden" id="menuItemCategory" name="menuItemCategory" value="<%= menuItem.menuItemCategory%>" readonly>
                            <input type="hidden" id="menuItemNumber" name="menuItemNumber" value="<%= menuItem.menuItemNumber%>"readonly>
                            <input type="hidden" id="menuItemName" name="menuItemName" value="<%= menuItem.menuItemName%>"readonly>
                            <input type="hidden" id="changeCounter.<%=menuItem.menuItemName%>"  name="changeCounter" value="0" readonly>   

                            <br>
                            <span class="minus" onclick="decreaseQuantity(`quantity.<%=menuItem.menuItemName%>`)">-</span><input type="number" name="quantity" id="quantity.<%=menuItem.menuItemName%>" class="ingredientInput" min="0" value="1" readonly /><span class="plus" onclick="increaseQuantity(`quantity.<%=menuItem.menuItemName%>`)">+</span>   <label for="">Quantity</label><br>
                            
                        <button type="submit">Add item to cart</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>

    
</body>
    <script src="../../frontEndJavaScript/menu.js"></script>
</html>